In [1]:
import pandas as pd
import numpy as np

In [2]:
shooting_data = pd.read_csv('NYPD_Shooting_Incident_Data__Historic_.csv')

In [3]:
daily_inmates_data = pd.read_csv('Daily_Inmates_In_Custody.csv')

In [4]:
arrest_data = pd.read_csv('NYPD_Arrests_Data__Historic_.csv')

In [5]:
shooting_data['BORO'] = shooting_data['BORO'].map({'BROOKLYN': 'K', 'QUEENS': 'Q','MANHATTAN':'M','Bronx':'B','STATEN ISLAND':'S'})

In [6]:
daily_inmates_data.rename({'BRADH': 'Gang_Affiliation', 'SRG_FLG': 'Mental_Observation'}, axis=1, inplace=True)

In [7]:
print(shooting_data.BORO.value_counts())
print("")
print(arrest_data.ARREST_BORO.value_counts())

K    10365
Q     3828
M     3265
S      736
Name: BORO, dtype: int64

K    1473010
M    1430633
B    1212924
Q    1003502
S     188799
Name: ARREST_BORO, dtype: int64

In [8]:
print(shooting_data.shape)
shooting_data.head()

(25596, 19)

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,236168668,11/11/2021,15:04:00,K,79,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,996313.0,187499.0,40.681318,-73.956509,POINT (-73.95650899099996 40.68131820000008)
1,231008085,07/16/2021,22:05:00,K,72,0.0,NaN,False,45-64,M,ASIAN / PACIFIC ISLANDER,25-44,M,ASIAN / PACIFIC ISLANDER,981845.0,171118.0,40.636364,-74.008667,POINT (-74.00866668999998 40.63636384100005)
2,230717903,07/11/2021,01:09:00,K,79,0.0,NaN,False,<18,M,BLACK,25-44,M,BLACK,996546.0,187436.0,40.681145,-73.955669,POINT (-73.95566903799994 40.68114495900005)
3,237712309,12/11/2021,13:42:00,K,81,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1001139.0,192775.0,40.695792,-73.939096,POINT (-73.939095905 40.69579171600003)
4,224465521,02/16/2021,20:00:00,Q,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1050710.0,184826.0,40.673740,-73.760411,POINT (-73.76041066999993 40.67374017600008)

In [9]:
print(daily_inmates_data.shape)
daily_inmates_data.head()

(5928, 13)

,INMATEID,ADMITTED_DT,DISCHARGED_DT,CUSTODY_LEVEL,Gang_Affiliation,RACE,GENDER,AGE,INMATE_STATUS_CODE,SEALED,Mental_Observation,TOP_CHARGE,INFRACTION
0,20160468,05/11/2022 11:32:11 PM,NaN,MAX,N,B,M,36.0,DE,N,Y,135.20,Y
1,20205597,07/10/2019 06:13:50 PM,NaN,MAX,Y,B,M,21.0,DE,N,N,125.25,Y
2,20207209,06/13/2022 01:23:02 PM,NaN,MED,N,O,M,38.0,DE,N,N,125.25,Y
3,20219761,07/21/2022 03:56:00 PM,NaN,MIN,N,B,M,28.0,DE,N,N,265.03,N
4,20212468,12/16/2021 11:45:54 AM,NaN,MED,N,B,M,25.0,DE,N,N,265.03,Y

In [10]:
print(arrest_data.shape)
arrest_data.head()

(5308876, 19)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,236791704,11/22/2021,581.0,NaN,NaN,NaN,PL 2225001,M,M,28,0.0,45-64,M,BLACK,997427.0,230378.0,40.799009,-73.952409,POINT (-73.95240854099995 40.799008797000056)
1,237354740,12/04/2021,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41,0.0,25-44,M,WHITE HISPANIC,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034)
2,236081433,11/09/2021,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113,0.0,25-44,M,BLACK,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003)
3,32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN
4,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)

In [11]:
arrest_data.PD_CD.value_counts()

101.0    437860
567.0    423783
478.0    309654
511.0    295061
339.0    234432
          ...
178.0         1
713.0         1
790.0         1
667.0         1
689.0         1
Name: PD_CD, Length: 340, dtype: int64

In [12]:
shooting_data['PERP_RACE'] = shooting_data['PERP_RACE'].map({'BLACK': 'B', 'WHITE': 'W','UNKNOWN':'U','ASIAN / PACIFIC ISLANDER':'A','AMERICAN INDIAN/ALASKAN NATIVE':'I', 'WHITE HISPANIC':'O','BLACK HISPANIC':'O'})
arrest_data['PERP_RACE'] = arrest_data['PERP_RACE'].map({'BLACK': 'B', 'WHITE': 'W','UNKNOWN':'U','ASIAN / PACIFIC ISLANDER':'A','AMERICAN INDIAN/ALASKAN NATIVE':'I', 'WHITE HISPANIC':'O','BLACK HISPANIC':'O'})

In [13]:
print(shooting_data.PERP_RACE.value_counts())
print("")
print(daily_inmates_data.RACE.value_counts())
print("")
print(arrest_data.PERP_RACE.value_counts())

B    10668
O     3367
U     1836
W      272
A      141
I        2
Name: PERP_RACE, dtype: int64

B    3589
O    1728
W     478
A      84
I      20
U      13
Name: RACE, dtype: int64

B    2579848
O    1805226
W     637703
A     221280
U      51587
I      11869
Name: PERP_RACE, dtype: int64

In [14]:
print(shooting_data.PERP_SEX.value_counts())
print("")
print(daily_inmates_data.GENDER.value_counts())
print("")
print(arrest_data.PERP_SEX.value_counts())

M    14416
U     1499
F      371
Name: PERP_SEX, dtype: int64

M    5567
F     345
Name: GENDER, dtype: int64

M    4417407
F     891469
Name: PERP_SEX, dtype: int64

In [15]:
shooting_data = shooting_data[shooting_data['PERP_AGE_GROUP'].notna()]

In [16]:
shooting_data = shooting_data.loc[shooting_data['PERP_AGE_GROUP'].isin(['18-24','25-44','<18','45-64','65+','UNKNOWN'])]
arrest_data = arrest_data.loc[arrest_data['AGE_GROUP'].isin(['18-24','25-44','<18','45-64','65+','UNKNOWN'])]

In [17]:
bins = [0, 18, 24, 44, 64, np.inf]
names = ['<18', '18-24', '25-44', '45-64', '65+']
daily_inmates_data['AGE'] = pd.cut(daily_inmates_data['AGE'], bins, labels=names)

In [18]:
print(shooting_data.PERP_AGE_GROUP.value_counts())
print("")
print(daily_inmates_data.AGE.value_counts())
print("")
print(arrest_data.AGE_GROUP.value_counts())

18-24      5844
25-44      5202
UNKNOWN    3148
<18        1463
45-64       535
65+          57
Name: PERP_AGE_GROUP, dtype: int64

25-44    3576
45-64    1147
18-24    1080
65+        74
<18        50
Name: AGE, dtype: int64

25-44      2482601
18-24      1375134
45-64       981931
<18         422931
65+          46084
UNKNOWN          5
Name: AGE_GROUP, dtype: int64

In [19]:
daily_inmates_data[['Date','Time','A']] = daily_inmates_data.ADMITTED_DT.str.split(" ", expand=True)
daily_inmates_data.drop(columns=['A','ADMITTED_DT','Time'], inplace = True)

In [20]:
shooting_data['OCCUR_DATE'] = pd.to_datetime(shooting_data['OCCUR_DATE'], format='%m/%d/%Y')
arrest_data['ARREST_DATE'] = pd.to_datetime(arrest_data['ARREST_DATE'], format='%m/%d/%Y')
daily_inmates_data['Date'] = pd.to_datetime(daily_inmates_data['Date'], format='%m/%d/%Y')

In [21]:
shooting_data['Arrest_limit'] = pd.DatetimeIndex(shooting_data.OCCUR_DATE) + pd.DateOffset(3)

In [22]:
print(shooting_data.shape)
shooting_data.head()

(16249, 20)

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,Arrest_limit
1,231008085,2021-07-16,22:05:00,K,72,0.0,NaN,False,45-64,M,A,25-44,M,ASIAN / PACIFIC ISLANDER,981845.0,171118.0,40.636364,-74.008667,POINT (-74.00866668999998 40.63636384100005),2021-07-19
2,230717903,2021-07-11,01:09:00,K,79,0.0,NaN,False,<18,M,B,25-44,M,BLACK,996546.0,187436.0,40.681145,-73.955669,POINT (-73.95566903799994 40.68114495900005),2021-07-14
9,225295736,2021-03-07,06:15:00,K,75,0.0,NaN,True,25-44,M,O,25-44,M,WHITE HISPANIC,1020492.0,187865.0,40.682257,-73.869331,POINT (-73.86933111399996 40.68225681500007),2021-03-10
10,231190175,2021-07-21,00:40:00,M,32,0.0,NaN,False,25-44,M,B,25-44,M,BLACK,998094.0,235038.0,40.811798,-73.949990,POINT (-73.94998985099994 40.811798195000044),2021-07-24
12,227950661,2021-05-09,02:50:00,NaN,41,2.0,MULTI DWELL - PUBLIC HOUS,True,25-44,M,B,25-44,M,BLACK HISPANIC,1014642.0,240068.0,40.825563,-73.890187,POINT (-73.89018728699995 40.82556269400004),2021-05-12

In [23]:
print(daily_inmates_data.shape)
daily_inmates_data.head()

(5928, 13)

,INMATEID,DISCHARGED_DT,CUSTODY_LEVEL,Gang_Affiliation,RACE,GENDER,AGE,INMATE_STATUS_CODE,SEALED,Mental_Observation,TOP_CHARGE,INFRACTION,Date
0,20160468,NaN,MAX,N,B,M,25-44,DE,N,Y,135.20,Y,2022-05-11
1,20205597,NaN,MAX,Y,B,M,18-24,DE,N,N,125.25,Y,2019-07-10
2,20207209,NaN,MED,N,O,M,25-44,DE,N,N,125.25,Y,2022-06-13
3,20219761,NaN,MIN,N,B,M,25-44,DE,N,N,265.03,N,2022-07-21
4,20212468,NaN,MED,N,B,M,25-44,DE,N,N,265.03,Y,2021-12-16

In [24]:
print(arrest_data.shape)
arrest_data.head()

(5308686, 19)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,236791704,2021-11-22,581.0,NaN,NaN,NaN,PL 2225001,M,M,28,0.0,45-64,M,B,997427.0,230378.0,40.799009,-73.952409,POINT (-73.95240854099995 40.799008797000056)
1,237354740,2021-12-04,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41,0.0,25-44,M,O,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034)
2,236081433,2021-11-09,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113,0.0,25-44,M,B,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003)
3,32311380,2007-06-18,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,B,NaN,NaN,NaN,NaN,NaN
4,192799737,2019-01-26,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,B,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)

In [25]:
arrest_data = arrest_data.loc[arrest_data['OFNS_DESC'].isin([                                                    
'SEX CRIMES',                                                                                                     
'OTHER OFFENSES RELATED TO THEFT',                  
'GRAND LARCENY',                                                       
"BURGLAR'S TOOLS",                                  
'OFFENSES AGAINST THE PERSON',                                                                                       
'NYS LAWS-UNCLASSIFIED FELONY',                                      
'BURGLARY',                                         
'GRAND LARCENY OF MOTOR VEHICLE',                                                                                          
'ARSON',                                                                           
'KIDNAPPING & RELATED OFFENSES',                    
'DANGEROUS DRUGS',
'ASSAULT 3 & RELATED OFFENSES',
'PETIT LARCENY',
'MISCELLANEOUS PENAL LAW',
'DANGEROUS WEAPONS',
'DANGEROUS DRUGS',
'FELONY ASSAULT',
'ROBBERY',
'FORGERY',
"BURGLAR'S TOOLS",
'MURDER & NON-NEGL. MANSLAUGHTER',
'THEFT-FRAUD',
'OTHER OFFENCES RELATED TO THEFT',
'OFFENSES AGAINST PUBLIC ADMINI',
'CRIMINAL MISCHIEF & RELATED OF',
'MURDER & NON-NEGL. MANSLAUGHTE KIDNAPPING & RELATED OFFENSES',
'UNLAWFUL POSS. WEAP. ON SCHOOL GROUNDS',
'HOMICIDE-NEGLIGENT,UNCLASSIFIED',
'HOMICIDE-NEGLIGENT-VEHICLE',
'HOMICIDE-NEGLIGENT,UNCLASSIFIED',
'UNDER THE INFLUENCE, DRUGS',
'KIDNAPPING',
'UNLAWFUL POSS. WEAP. ON SCHOOL KIDNAPPING AND RELATED OFFENSES'])]

In [26]:
arrest_data.shape

(3441036, 19)

In [27]:
print(arrest_data.OFNS_DESC.value_counts())
print(arrest_data.OFNS_DESC.nunique())
#print(shooting_data.INCIDENT_KEY.nunique())
print(shooting_data.shape)

DANGEROUS DRUGS                           1099137
ASSAULT 3 & RELATED OFFENSES               542441
OTHER OFFENSES RELATED TO THEFT            304187
PETIT LARCENY                              234568
FELONY ASSAULT                             225804
DANGEROUS WEAPONS                          204760
MISCELLANEOUS PENAL LAW                    196250
ROBBERY                                    169132
GRAND LARCENY                              132655
FORGERY                                     87623
BURGLARY                                    77066
SEX CRIMES                                  41606
CRIMINAL MISCHIEF & RELATED OF              28890
OFFENSES AGAINST THE PERSON                 24502
GRAND LARCENY OF MOTOR VEHICLE              17714
OFFENSES AGAINST PUBLIC ADMINI              17406
MURDER & NON-NEGL. MANSLAUGHTER             12212
THEFT-FRAUD                                  9489
BURGLAR'S TOOLS                              8329
NYS LAWS-UNCLASSIFIED FELONY                 2685
KIDNAPPING & RELATED OFFENSES                2155
ARSON                                        2037
HOMICIDE-NEGLIGENT,UNCLASSIFIED               165
HOMICIDE-NEGLIGENT-VEHICLE                    126
UNLAWFUL POSS. WEAP. ON SCHOOL GROUNDS         63
KIDNAPPING                                     23
UNDER THE INFLUENCE, DRUGS                     11
Name: OFNS_DESC, dtype: int64
27
(16249, 20)

In [28]:
#df_merged1 = pd.merge(shooting_data, daily_inmates_data, left_on=['PERP_SEX', 'PERP_RACE','PERP_AGE_GROUP'], right_on = ['GENDER','RACE','AGE'], how='inner')

In [29]:
#df_merged1.shape

In [30]:
df_merged = pd.merge(shooting_data, arrest_data, left_on=
                     ['PERP_SEX', 'PERP_RACE','PERP_AGE_GROUP','BORO','PRECINCT'], 
                     right_on = ['PERP_SEX','PERP_RACE','AGE_GROUP','ARREST_BORO','ARREST_PRECINCT'], 
                     how='inner')

In [31]:
print(shooting_data.shape)
print(arrest_data.shape)
print(df_merged.shape)

(16249, 20)
(3441036, 19)
(82785142, 37)

In [32]:
mask = (df_merged['ARREST_DATE'] >= df_merged['OCCUR_DATE']) & (df_merged['ARREST_DATE'] < df_merged['Arrest_limit'])

In [33]:
print(mask.value_counts())
type(mask[0])

False    82738215
True        46927
dtype: int64

numpy.bool_

In [34]:
df_merged = df_merged[mask]

In [35]:
print(shooting_data.shape)
print(arrest_data.shape)
print(df_merged.shape)

(16249, 20)
(3441036, 19)
(46927, 37)

In [36]:
df_merged_again = pd.merge(df_merged, daily_inmates_data, left_on=
                           ['PERP_SEX', 'PERP_RACE','PERP_AGE_GROUP','OCCUR_DATE'], 
                           right_on = ['GENDER','RACE','AGE','Date'], how='inner')

In [37]:
print(df_merged.shape)
print(df_merged_again.shape)
print(df_merged_again.INCIDENT_KEY.nunique())
print(df_merged_again.INMATEID.nunique())

(46927, 37)
(1902, 50)
232
264

In [38]:
df_merged_again.iloc[0]

INCIDENT_KEY                                                   218560117
OCCUR_DATE                                           2020-09-30 00:00:00
OCCUR_TIME                                                      21:07:00
BORO                                                                   K
PRECINCT                                                              75
JURISDICTION_CODE_x                                                  2.0
LOCATION_DESC                                  MULTI DWELL - PUBLIC HOUS
STATISTICAL_MURDER_FLAG                                            False
PERP_AGE_GROUP                                                     25-44
PERP_SEX                                                               M
PERP_RACE                                                              O
VIC_AGE_GROUP                                                      25-44
VIC_SEX                                                                M
VIC_RACE                                                           BLACK
X_COORD_CD_x                                                1019192.6875
Y_COORD_CD_x                                                183433.40625
Latitude_x                                                     40.670098
Longitude_x                                                   -73.874039
Lon_Lat_x                  POINT (-73.87403874599994 40.670098324000044)
Arrest_limit                                         2020-10-03 00:00:00
ARREST_KEY                                                     218630768
ARREST_DATE                                          2020-10-01 00:00:00
PD_CD                                                              792.0
PD_DESC                                         WEAPONS POSSESSION 1 & 2
KY_CD                                                              118.0
OFNS_DESC                                              DANGEROUS WEAPONS
LAW_CODE                                                      PL 265031B
LAW_CAT_CD                                                             F
ARREST_BORO                                                            K
ARREST_PRECINCT                                                       75
JURISDICTION_CODE_y                                                  2.0
AGE_GROUP                                                          25-44
X_COORD_CD_y                                                   1015561.0
Y_COORD_CD_y                                                    183841.0
Latitude_y                                                     40.671231
Longitude_y                                                   -73.887128
Lon_Lat_y                  POINT (-73.88712847999993 40.671230666000035)
INMATEID                                                        20211435
DISCHARGED_DT                                                        NaN
CUSTODY_LEVEL                                                        MED
Gang_Affiliation                                                       Y
RACE                                                                   O
GENDER                                                                 M
AGE                                                                25-44
INMATE_STATUS_CODE                                                    DE
SEALED                                                                 N
Mental_Observation                                                     N
TOP_CHARGE                                                        125.25
INFRACTION                                                             N
Date                                                 2020-09-30 00:00:00
Name: 0, dtype: object

In [39]:
df_merged_again.drop(columns = ['OCCUR_TIME','JURISDICTION_CODE_x','LOCATION_DESC','X_COORD_CD_x','Y_COORD_CD_x','Latitude_x','Longitude_x','Lon_Lat_x','JURISDICTION_CODE_y','X_COORD_CD_y','Y_COORD_CD_y','Latitude_y','Longitude_y','Lon_Lat_y'], inplace = True)

In [40]:
df_merged_again.to_csv('LinkedData1.csv', index=False)

In [41]:
df_merged_again.OFNS_DESC.value_counts()

ASSAULT 3 & RELATED OFFENSES       349
DANGEROUS WEAPONS                  230
DANGEROUS DRUGS                    198
FELONY ASSAULT                     191
MISCELLANEOUS PENAL LAW            184
PETIT LARCENY                      132
CRIMINAL MISCHIEF & RELATED OF     125
ROBBERY                            113
OFFENSES AGAINST PUBLIC ADMINI      96
FORGERY                             75
GRAND LARCENY                       50
BURGLARY                            48
SEX CRIMES                          44
NYS LAWS-UNCLASSIFIED FELONY        16
OFFENSES AGAINST THE PERSON         15
ARSON                                9
GRAND LARCENY OF MOTOR VEHICLE       8
BURGLAR'S TOOLS                      7
THEFT-FRAUD                          4
MURDER & NON-NEGL. MANSLAUGHTER      3
OTHER OFFENSES RELATED TO THEFT      3
KIDNAPPING & RELATED OFFENSES        2
Name: OFNS_DESC, dtype: int64